<nav class="navbar navbar-expand-lg sticky-top shadow-lg nev">
  <div class="container-fluid me-3 ms-3 w-100 sticky-top ">
   
   

    <a class="navbar-brand" href="#">
      <img class="logo" src="../../../../assets/images/logoo.png" alt="">
    </a>


    <div class=" navbar-collapse " id="main">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0" fxLayout="row wrap" fxLayoutAlign="end" fxLayoutGap="19px grid" >
        <li  class="nav-item">
          <a (click)="EURtoGBP()" class="btn w-100 bg-white text-uppercase " mat-button >EUR-GBP Details</a>
        </li> 
        <li  class="nav-item ms-3">
          <a   class="btn w-100 bg-white text-uppercase" mat-button (click)="EURtoUSD()" >EUR-USD Details</a>
        </li>           
      </ul>
  
    </div>
  </div>
</nav>
